
<%= form_for(@todo) do |f| %>

<section class="todoapp">
  <header class="header">
    <h1>todos</h1>
    <h2 class="new_todo"><%= @title %></h2>
  </header>
  <section class="main" style="display: block;">
    <label for="toggle-all">Mark all as complete</label>
    <ul class="todo-list">
        <li class="<%= "completed" if @todo.complete? %>">
          <div class="view">
            <%= f.check_box :complete, :class => "toggle" %>
            <%= f.text_field :title, :class => "text_label" %>
          </div>
        </li>
    </ul>
  </section>
  <footer class="footer" style="display: block;">
    <ul class="filters">
      <li>
        <%= link_to 'Back', todos_path %>
      </li>
      <li>
        <%= f.submit "Submit", :class => "todo_button" %>
      </li>
    </ul>
    <button class="clear-completed" style="display: none;"></button>
  </footer>
</section>
<% end %>
